---
import { getCollection } from 'astro:content';
import MainLayout from '../../layouts/MainLayout.astro';

export async function getStaticPaths() {
	const posts = await getCollection('posts');

	return posts.map(entry => ({
		params: {
			slug: entry.slug,
		},
		props: {
			entry,
		},
	}));
}

const { entry } = Astro.props;

const { title, subtitle } = entry.data;

const { Content } = await entry.render();
---

<MainLayout title={title}>
	<div class="border-t-4 border-b-0 lg:border-4 h-screen border-magenta-400 p-4 lg:p-8">
		<main
			class="grid lg:grid-cols-[1fr_max-content_1fr] mx-auto w-fit gap-6 lg:gap-8">
			<div class="max-w-none w-full lg:w-56 lg:max-w-56 lg:text-right flex-1">
				<a class="text-magenta-600 hover:text-magenta-500 transition-colors mb-2 block lg:text-lg" href="/">
					← back to index
				</a>
				<h1
					class="font-bold text-magenta-400 text-2xl lg:text-3xl select-none mb-4 lowercase">
					{title}
				</h1>
				<div class="border-2 border-magenta-400 w-full mb-4" />
				<p class="lowercase text-magenta-500 italic text-lg lg:text-xl">{subtitle}</p>
			</div>
			<div
				class="max-w-xl grow h-fit mx-auto prose prose-lg prose-pre:bg-magenta-950! prose-pre:border prose-pre:border-magenta-800 prose-a:transition-colors prose-a:text-stone-300 prose-a:hover:bg-magenta-700 prose-a:text-wrap prose-a:font-normal prose-a:after:content-['_↗'] prose-a:after:text-sm prose-a:after:align-top prose-a:after:text-magenta-300  prose-a:no-underline text-wrap hyphens-auto prose-stone prose-invert prose-headings:text-magenta-400 ">
				<Content />
			</div>
		</main>
	</div>
</MainLayout>
