---
import { HTMLAttributes } from 'astro/types';
import { twMerge } from 'tailwind-merge';

type Props = HTMLAttributes<'button'>;

const {class: className, ...rest} = Astro.props;

---

<button {...rest} class={twMerge('active:scale-90 transition-colors p-3 text-magenta-600 cursor-pointer hover:bg-magenta-950 hover:fill-magenta-600', className)}>
	<slot/>
</button>
