---
interface Props {
  readonly pageName: string;
  readonly number: number;
  readonly slug: string;
}

const { pageName, number, slug } = Astro.props;
---

<a href={`/posts/${slug}`}>
  <div
    class="flex gap-16 items-baseline text-lg group justify-between transition-colors hover:bg-magenta-800 p-2 rounded-sm cursor-pointer">
    <p class="lowercase text-stone-300">
      {pageName}
    </p>
    <p class="text-magenta-700 group-hover:text-magenta-600 transition-colors">
      #{number}
    </p>
  </div>
</a>
